---
import { getCollection } from 'astro:content';
import PageLayout from '../../../layouts/PageLayout.astro';

export const prerender = true;

const lang = 'en';
const title = 'News';
const pageTitle = 'News';
const description = 'News of PA Counterpart-Sheriktesh';

const news = (await getCollection('news', (n) => n.data.lang === lang))
  .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---

<PageLayout title={title} lang={lang} pageTitle={pageTitle} description={description}>
  <ul>
    {news.map((n) => (
      <li style="margin-bottom: 0.5em;">
        {n.data.title},
        <a href={`/en/news/${n.id.replace(/^(ru|en)\//, '').replace(/\.md$/, '')}/`}>more...</a>
      </li>
    ))}
  </ul>
</PageLayout>
